.popup__job {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 0 0 48px 0;
    padding: 0 0 13px 0;
    outline:none;
}

.popup__job:focus {
    border-bottom: 1px solid black;
}

@media only screen and (max-width: 690px) {
    .popup__job {
        margin: 0 0 45px 0;
    }
}