.elements__info-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    margin: 0;
    padding: 25px 20px 31px 20px;
    column-gap: 10px;
    box-sizing: border-box;
}